#alert{
    background-color: azure;
    color: rgb(44, 151, 155);
    font-size: 30px;
    border-radius: 5px;
    display: none;
}
.yellow-bg {
    background-color: yellow;
}
.headpage{
    background-image:url("/img/다운로드.png");
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: auto;
}
.background-black{
    background-color:rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 600px;
    display: block;
    transition: all 1s;
    transform: translateY(-700px);
}
.background-white{
    background-color: white;
    margin: 100px auto;
    padding: 50px;
    border-radius: 10px;
    width: 40%;
    height: 40%;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.nav-sub{
    display: none;
}
.left-menu{
    width: 100px;
    height: 100%;
    background-color: black;
    color: white;
    position: fixed;
    margin-left: -100px;
}
.slide_menu{
    transform: translateY(0px);
}
.slide-container{
    width: 300vw;
    transition: transform 1s;
}
.slide-box{
    float: left;
    width: 100vw;
}
.slide-box img{
    width: 100%;
}
.Next{
    position: absolute;
    top : 95%;
    left: 95%;
    
}